<!doctype html>
<%- include('./header'); %>

<body>
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <!-- Navbar -->
            <div class="navbar">
                <!-- Control mode navbar -->
                <div data-page="index" class="navbar-inner">
                    <%- include('./partials/nav_control'); %>
                </div>

                <!-- BookmarkmarkList navbar -->
                <div data-page="bookmarkList" class="navbar-inner cached">
                    <div class="left sliding"><a href="#index" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
                    <div class="center sliding">Bookmarks</div>
<!--                     <div class="subnavbar sliding">
                        <a href="#" class="category button button-round" style="margin: auto;">All 
                            <i class="f7-icons icon" style="display: inline;">down</i>
                        </a>
                    </div> -->
                </div>

                <!-- Help page -->
                <div data-page="help" class="navbar-inner cached">
                    <div class="left sliding"><a href="#index" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
                    <div class="center sliding">Help</div>
                </div>

                <!-- Details navbar -->
                <div data-page="details" class="navbar-inner cached">
                  <div class="left sliding"><a href="#bookmarkList" class="back link"><i class="icon icon-back"></i><span>Saved list</span></a></div>
                  <div class="center sliding">Details</div>
                </div>

            </div>

            <!-- Pages -->
            <div class="pages navbar-fixed toolbar-fixed">
                <!-- Control page -->
                <div data-page="index" class="page">
                    <div id="touchPad" class="page-content">
                        <%- include('./control_mode'); %>
                    </div>
                    <%- include('./partials/tabbar'); %>
                </div>
                <!-- BookmarkList page -->
                <div data-page="bookmarkList" class="page cached">
                    <%- include('./bookmarkList'); %>
                </div>
                <!-- Help page -->
                <div data-page="help" class="page cached">
                    <%- include('./help'); %>
                </div>
                <!-- Details page -->
                <div data-page="details" class="page cached">
                    <%- include('./details'); %>
                </div>

                
            </div>
        </div>
    </div>
    <!-- Popover (BookmarkList page) -->
    <%- include('./partials/popover'); %>
    <!-- Popup Tutorial -->
    <%- include('./partials/popup_tutorial'); %>
    <!-- Popup Details -->
    <div class="popup popup-details">
<!--         <div class="view navbar-fixed">  -->       
        <div class="view">
<!--             <div class="navbar">
                <div data-page="acquire" class="navbar-inner">
                    <div class="left sliding"><a href="#index" class="back link"><i class="icon icon-back"></i><span>Control Mode</span></a></div>
                    <div class="center sliding">Details</div>
                </div>
            </div> -->
            <div class="pages">
                <div data-page="acquire" class="page">
                    <div id="switchMode" class="page-content" style="background-color: #fff"></div>
                    <%- include('./acquiringTemplate'); %>
                    <%- include('./partials/tabbar_details'); %>
                </div>
            </div>
        </div>
    </div>

        <!-- <script src="/vendor/jquery-3.2.1.min.js"></script> -->
    <%- include('./scripttag'); %>
        
</body>

</html>
