<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196f3">
    <link rel="stylesheet" href="/framework7/css/framework7.ios.min.css">
    <link rel="stylesheet" href="/framework7/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="/material/fonts/material-icons.css">
    <link rel="stylesheet" href="/framework7/css/framework7-icons.css">
    <link rel="stylesheet" type="text/css" href="/app/css/stylesheet_ios.css">
    <title>Honey Spot</title>
</head>

<body>
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <!-- Navbar -->
            <div class="navbar">
                <!-- Control mode navbar -->
                <div data-page="index" class="navbar-inner">
                    <%- include('./partials/nav_control'); %>
                </div>
                <!-- BookmarkList navbar-->
                <div data-page="bookmarkList" class="navbar-inner cached">
                    <%- include('./partials/nav_bookmarkList'); %>
                </div>
                <!-- Help navbar -->
                <div data-page="help" class="navbar-inner cached">
                    <div class="left sliding"><a href="#index" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
                    <div class="center sliding">Help</div>
                </div>
                <!-- Acquiring mode navbar -->
                <div data-page="acquire" class="navbar-inner cached">
                    <div class="left sliding"><a href="#index" class="back link"><i class="icon icon-back"></i><span>Control Mode</span></a></div>
                    <div class="center sliding">Details</div>
                </div>
            </div>

            <!-- Pages -->
            <div class="pages navbar-fixed toolbar-fixed">
                <!-- Control page -->
                <div data-page="index" class="page">
                    <div id="touchPad" class="page-content">
                        <%- include('./control_mode'); %>
                    </div>
                    <%- include('./partials/tabbar'); %>
                </div>
                <!-- BookmarkList page -->
                <div data-page="bookmarkList" class="page cached">
                    <div class="page-content" style="margin-top: 20px;"></div>
                    <%- include('./bookmarkListTemplate'); %>
                </div>
                <!-- Help page -->
                <div data-page="help" class="page cached">
                    <div class="page-content">
                        <p>Under Instruction</p>
                    </div>
                </div>
                <!-- Acquiring mode page -->
                <div data-page="acquire" class="page cached">
                    <div id="switchMode" class="page-content" style="background-color: #fff"></div>
                    <%- include('./acquiringTemplate'); %>
                </div>
                <!-- Details page -->
                <%- include('./detailsTemplate'); %>
            </div>
        </div>
    </div>
    <!-- Popover (BookmarkList page) -->
    <%- include('./partials/popover'); %>
        <!-- <script src="/vendor/jquery-3.2.1.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://hammerjs.github.io/dist/hammer.js"></script>
        
        <script src="/vendor/js-cookie/js-cookie.js"></script>
        <script src="/vendor/lodash.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <!--     <script type="text/javascript">
     window.addEventListener("focus", function(evt){
        socket.emit('chat message', "connected");
      }, false);
      window.addEventListener("blur", function(evt){
        socket.emit('chat message', "disconnected");
      }, false);
    </script> -->
        <script type="text/javascript" src="/framework7/js/framework7.min.js"></script>
        <script type="text/javascript" src="/template7/template7.min.js"></script>
        <script type="text/javascript" src="/app/js/event_list.js"></script>
        <script type="text/javascript" src="/app/js/app.js"></script>
        <script type="text/javascript" src="/app/js/app_ios.js"></script>
        <script type="text/javascript" src="/app/js/bookmark_view.js"></script>
        
</body>

</html>
