<script type="text/template7" id="wifiTemplate">
  <div class="content-block" style="padding: 0 5px;">


    <div class="list-block inset">
    <div class="content-block-title">Choose a correct login code</div>
      <ul>
        <li>
          <a data-url="/<%= pass1 %>" class="item-link list-button" ><%= pass1 %></a>
        </li>
        <li>
          <a data-url="/<%= pass2 %>" class="item-link list-button" ><%= pass2 %></a>
        </li>
        <li>
          <a data-url="/<%= pass3 %>" class="item-link list-button" ><%= pass3 %></a>
        </li>
      </ul>
    </div> 
  </div>
</script>
