<script type="text/template7" id="wifiTemplate">
  <div class="content-block" style="padding: 0 5px;">


    <div class="list-block inset">
    <p>Access code displays at the left corner of the display.</p>
      <ul>
        <li>
          <a data-url="http://kiosk.hopto.me/<%= pass1 %>" class="item-link list-button" ><%= pass1 %></a>
        </li>
        <li>
          <a data-url="http://kiosk.hopto.me/<%= pass2 %>" class="item-link list-button" ><%= pass2 %></a>
        </li>
        <li>
          <a data-url="http://kiosk.hopto.me/<%= pass3 %>" class="item-link list-button" ><%= pass3 %></a>
        </li>
      </ul>
    </div> 
  </div>
</script>
